<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttu_se1_project_team_3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pless_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Welcome"
            android:screenOrientation="portrait">
            Welcome
        </activity>
        <activity
            android:name=".activities.Login"
            android:screenOrientation="portrait">
            Login
        </activity>
        <activity
            android:name=".activities.Homepage"
            android:screenOrientation="portrait">
            Homepage
        </activity>
        <activity
            android:name=".activities.CreateStudyTemplate"
            android:screenOrientation="portrait">
            Template Details
        </activity>
        <activity
            android:name=".activities.AddSessionLog"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            Create SessionLog
        </activity>
        <activity
            android:name=".activities.AddSessionData"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            Create SessionLog
        </activity>
        <activity
            android:name=".activities.ForgotPassword"
            android:screenOrientation="portrait">
            Forgot Password
        </activity>
        <activity
            android:name=".activities.CreateAccount"
            android:screenOrientation="portrait">
            Create Account
        </activity>
        <activity
            android:name=".activities.ChangePassword"
            android:screenOrientation="portrait">
            Change Password
        </activity>
        <activity
            android:name=".activities.TestJSON"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            JSON test activity
        </activity>
        <activity
            android:name=".activities.ConductStudy"
            android:screenOrientation="portrait">Conduct Study
        </activity>
        <activity
            android:name=".activities.SelectStudy"
            android:screenOrientation="portrait">Select Study
        </activity>
    </application>

</manifest>
