<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttu_se1_project_team_3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Welcome">
            Welcome
        </activity>
        <activity android:name=".activities.Login">
            Login
        </activity>
        <activity android:name=".activities.Homepage">
            Homepage
        </activity>
        <activity android:name=".activities.CreateStudyTemplate">
            Template Details
        </activity>
        <activity
            android:name=".activities.AddSessionLog"
            android:launchMode="singleInstance">
            Create SessionLog
        </activity>
        <activity
            android:name=".activities.AddSessionData"
            android:launchMode="singleInstance">
            Create SessionLog
        </activity>
        <activity android:name=".activities.ForgotPassword">
            Forgot Password
        </activity>
        <activity android:name=".activities.CreateAccount">
            Create Account
        </activity>
        <activity android:name = ".activities.ChangePassword">
            Change Password
        </activity>
        <activity
            android:name=".activities.TestJSON"
            android:launchMode="singleInstance">
            JSON test activity
        </activity>
        <activity android:name=".activities.ConductStudy"
            android:screenOrientation="portrait">Conduct Study</activity>
        <activity android:name=".activities.SelectStudy">Select Study</activity>
    </application>

</manifest>
